<div id="page_wrapper">
  <div id="profile_image">
	<%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
	<h1>Hello, my name is Avi Arenfeld</h1>
	<p>Welcome to my web development blog and portfolio.</p>
	<p>This site was buit in Rails 4 as both my first full rails project and a site to share my work. I am an aspiring web and application developer and created this blog to teach myself new skills. I wanted to create a place to share my work, and some thoughts. I spent one week coding every night after work for a few hours, ok a lot of hours. With some basic prior knowlege, The Rails 4 Way, and online tutorials, I created this project and learned a lot along the way. I have both a BFA and an MFA and have always loved art, tecnology, and science. Programing allows me to combine creative problem solving, abstraction, and the satisfaction of building cool things, for people to use, that look good. If you want to contact or learn more about me, click the social links. Thank you for visiting!</p>
  </div>
</div>