<div id="page_wrapper">
  
  <div id="content">
	<h1>Portfolio</h1>
  <div id="portfolio_image">
	<%= image_tag "fcp.jpeg" %>
 </div>
	<p>Flynn Creek Pottery is one of the first standards complient HTML and CSS sites I designed and built back in 2009. It ran for almost seven years and is no longer up but it still represents my first real website. Below is a link to my github were you can find my most recent projects. I have also included links to some older work.</p>
      <ul>
        <li><a href="https://github.com/aviarenfeld">My Github page is were you can find my most recent projects</a></li>
        <li><a href="http://www.mattanddavesclays.com/">Matt And Dave's Clays LLC 2010</a></li>
        <li><a href="http://www.lylagoldstein.com/">Lyla Goldstein 2012</a></li>
      </ul>
  </div>
</div>