<div id="page_wrapper">
  
  <div id="content">
	<h1>Portfolio</h1>
  <div id="portfolio_image">
	<%= image_tag "fcp.jpeg" %>
 </div>
	<p>Flynn Creek Pottery is one the first standards complient HTML and CSS sites I designed and built back in 2009. It ran for almost seven years, it is no longer up but still represents my early development. I slowly took on more work as I gained a better understanding of coding and design practices. These days I am working to expand my skills and further my understanding of development and design. Learning how to incorperating Ruby on Rails, Haml, Sass, javascript, and other cool stuff into my sites I am always looking to expand my vocabulary. I admire highly considered web development and am inspired by form and function. For more information please click the social links in the navigation bar. Thank you.</p>
	 <p>Here is a list of some other projects I have done</p>
	 <ul>
        <li><a href="https://github.com/aviarenfeld">My Github page is were you can find my most recent projects</a></li>
        <li><a href="http://www.mattanddavesclays.com/">Matt And Dave's Clays LLC 2010</a></li>
        <li><a href="http://www.lylagoldstein.com/">Lyla Goldstein 2012</a></li>
        <li><a href="http://www.aidlin.com/">Aidlin Institute 2013</a></li>
        <li><a href="http://www.teamtransformation.com/">Team Transformation 2014</a></li>
      </ul>
  </div>
</div>