<div id="page_wrapper">
  <div id="profile_image">
	<%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
	<h1>Resume</h1>
	  <p>I'm a designer and software engineer with 4+ years of experience in web development. I also have a background in fine arts and education. I am passionate about continually challenging myself by learning new technologies and languages.</p>
	<br></br>
	 <br>
	  <h1>Education</h1>
	 </br>
	  <li>2015 MFA University of Nebraska-Lincoln</li>
	  <li>2008 BFA New York State College of Ceramics at Alfred University</li>
	  <h1>Experience</h1>
	  <li>HTML5, CSS3, Javascript, Ruby, Rails, Wordpress.</li>
	  <h1>Work History</h1>
	  <li>2015 Web development Internship at the 42, Lincoln NE</li>
	  <li>2014 Web content manager and social media director for University of Nebraska clay club, Lincoln NE</li>
	  <li>2013-2014 Independant wordpress development contracts, Lincoln NE</li>
	  <li>2011-2013 Photography and social media at Harvey-Meadows Gallery, Aspen CO</li>
	  <li>2010-2011 Lead web developer and artistic director for Flynn Creek Pottery and Residency, Mendocino CA</li>
	  <li>2008-2009 Independant web development contracts, Mendocino CA</li>
	  <li>2004-2008 Jr designer and technician at Audiokio Productions, Brooklyn NY</li>
  </div>
</div>