<div id="page_wrapper">
  <div id="profile_image">
	<%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
	<h2>Albert Avi Arenfeld</h2>
	<h1>Background</h1>
	<p>I'm a designer and programmer with 4+ years of experience in development. I've worked in a wide variety of roles including as a designer, frontend developer, backend developer,project manager, and teacher. I'm passionate about continually challenging myself by learning new technologies and languages.</p><h1>Education</h1>
	<li>2015 MFA University of Nebraska-Lincoln</li>
	<li>2008 BFA New York State College of Ceramics at Alfred University</li>
	</li>
	<h1>Experience</h1>
	<br><li>2004-2008 Jr designer and technician at Audiokio Productions, Brooklyn NY</li></br>
	<li>2008-2009 Independant web development contracts, Mendocino CA</li>
	<li>2010-2011 Lead developer and artistic director for Flynn Creek Artist Residency, Mendocino CA</li>
	<li>2011-2013 Photography and social media director at Harvey-Meadows Gallery, Aspen CO</li>
    <li>2014 Web content manager and social media director for University of Nebraska clay club, Lincoln NE</li>
    <li>2015 Web development Internship at the 42, Lincoln NE</li>
  </div>
</div>